<%= link_to "Add Movie", new_movie_path %>

<div class="movies">

<% @movies.each do |movie| %>
  <dt>
    <dl><h3><%= movie.name %> (<%= movie.year %>)</h3></dl>
    <dl><p><%= movie.synopsis %></p></dl>
  </dt>
  <br>
<% end %>

</div>